table, td, th {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

table {
    width: 100%;
}

#header {
    font-weight: bold;
}

.buttons {
    margin: auto;
    padding: 10px;
}

.resident_button {
    width: 100%;
}

#next , #previous {
    width: 100px;
}