<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CSS file-->
    <link rel="stylesheet" href="static/index.css">

    <!-- Javascript file-->
    <script type="text/javascript" src="static/index.js"></script>
</head>
<body>
<h1>Star Wars universe planets</h1>
<div class="buttons">
    <a href="#" class="btn btn-info" role="button" id="previous">Previous</a>
    <a href="#" class="btn btn-info" role="button" id="next">Next</a>
</div>

<!-- Modal to view residents-->
<div class="modal fade" id="residentsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Residents</h4>
            </div>
            <div class="modal-body">
                <table id="residentsTable">
                    <tr id="ResidentsHeader">
                        <td>Name</td>
                        <td>Height</td>
                        <td>Mass</td>
                        <td>Hair Color</td>
                        <td>Skin color</td>
                        <td>Eye color</td>
                        <td>Birth year</td>
                        <td>Gender</td>
                    </tr>
                </table>
            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div class="container">
    <div class="data_table">
        <table id="table">
            <tr id="header">
                <td>Name</td>
                <td>Diameter</td>
                <td>Climate</td>
                <td>Gravity</td>
                <td>Terrain</td>
                <td>Water</td>
                <td>Population</td>
                <td>Residence</td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>