<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- CSS file-->
    <link rel="stylesheet" href="static/index.css">

    <!-- Javascript file-->
    <script type="text/javascript" src="static/index.js"></script>
</head>
<body>
<h1>Star Wars universe planets</h1>
<div class="buttons">
    <button type="button" class="btn btn-primary" id="previous">Previous</button>
    <button type="button" class="btn btn-primary" id="next">Next</button>
</div>
<div class="container">
    <div class="data_table">
        <table id="table">
            <tr id="header">
                <td>Name</td>
                <td>Diameter</td>
                <td>Climate</td>
                <td>Gravity</td>
                <td>Terrain</td>
                <td>Water</td>
                <td>Population</td>
                <td>Residence</td>
            </tr>
        </table>
        <div>
            <p id="demo"></p>
        </div>
    </div>
</div>

</body>
</html>